.container {
  padding: 2rem 5rem;
  z-index: 3;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list {
  width: 60%;
  list-style: none;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item {
  font-size: 1.6rem;
  color: var(--color-Secondary);
  text-decoration: none;
  text-transform: capitalize;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: 0.3s all;
}

.border {
  height: 0.3rem;
  width: 50%;
  margin: 0 auto;
  background-color: var(--color-Primary);
  transform: scaleX(0);
  transition: 0.3s transform;
}

.item:first-of-type {
  font-weight: bold;
}

.item:hover > .border,
.item:first-of-type > .border {
  transform: scaleX(1);
}

.active {
  font-weight: bold;
}
