.container {
  position: relative;
  width: 100%;
  margin-bottom: 3rem;
}

.input {
  width: 100%;
  border: 1.5px solid #aaa;
  border-radius: 10rem;
  padding: 1.3rem 2rem;
  transition: 0.3s border;
}

.input:focus {
  border-color: var(--color-Primary);
}

.half {
  width: 48%;
}

.textarea {
  border-radius: 1rem !important;
}

.error {
  font-size: 1.2rem;
  color: var(--color-error);
  margin-top: 0.2rem;

  position: absolute;
}
