.input {
  width: 100%;
  margin-bottom: 2rem;
  border: 1.5px solid #aaa;
  border-radius: 10rem;
  padding: 1.3rem 2rem;
  transition: 0.3s border;
}

.input:focus {
  border-color: var(--color-Primary);
}

.half {
  width: 48%;
}

.textarea {
  border-radius: 1rem !important;
}
