.container {
  padding-bottom: 2rem;
}

.heading {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.formGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
