.container {
  background-image: linear-gradient(
    to left,
    var(--color-Primary),
    var(--color-Secondary)
  );
  color: var(--color-background);
  border-radius: 10rem;
  padding: 1.2rem 2.5rem;
  width: 48%;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  font-size: 1.6rem;
  font-weight: bold;
  color: inherit;
}

.secondaryContainer {
  background-image: none;
  background-color: transparent;
  color: var(--color-Secondary);
  border: 1px solid var(--color-Primary);
}
