.container {
  width: 100%;
  overflow-x: hidden;

  display: flex;
}

.content {
  position: relative;
  width: 80%;
  /* width: 60%; */
  background-color: var(--color-background);
  z-index: 1;

  display: flex;
  flex-direction: column;
}

.sidebar {
  width: 20%;
  /* width: 40%; */
  background-image: linear-gradient(
    to right top,
    var(--color-Primary),
    var(--color-Secondary)
  );
}
