.container {
  width: 100%;
  overflow-x: hidden;

  display: flex;
}

.content {
  position: relative;
  width: 80%;
  background-color: var(--color-background);
  z-index: 1;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.smallContent {
  width: 60%;
}

.sidebar {
  z-index: 5;
  right: 0;
  top: 0;
  position: fixed;
  width: 40%;
  min-height: 100vh;
  background-image: linear-gradient(
    to right top,
    var(--color-Primary),
    var(--color-gradient)
  );
}

.snallSideBar {
  width: 20%;
}
