.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;

  display: flex;
}

.content {
  position: relative;
  width: 80%;
  background-color: var(--color-background);
  z-index: 1;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.smallContent {
  width: 60%;
}

.sidebar {
  z-index: 5;
  right: 0;
  top: 0;
  position: fixed;
  width: 40%;
  min-height: 100vh;
  background-image: linear-gradient(
    to right top,
    var(--color-Primary),
    var(--color-gradient)
  );
}

.smallSideBar {
  width: 20%;
}

@media only screen and (max-width: 1350px) {
  .content {
    height: 70vh;
    width: 80%;
  }

  .sidebar {
    width: 30%;
  }

  .smallSideBar {
    width: 20%;
  }
}

@media only screen and (max-width: 1100px) {
  .content {
    height: auto;
    width: 90%;
  }

  .sidebar {
    width: 35%;
  }

  .smallSideBar {
    width: 20%;
  }
}

@media only screen and (max-width: 950px) {
  .container {
    flex-direction: column-reverse;
  }

  .content {
    min-height: 70vh;
    width: 100%;
  }

  .sidebar {
    height: 30vh;
    min-height: auto;
    width: 100%;
    position: relative;
  }
}
