.container {
  width: 90%;
  margin-bottom: 5rem;
  color: var(--color-Secondary);

  display: flex;
  align-items: center;
}

.title {
  font-size: 2rem;
  color: inherit;
  margin-right: auto;
}

.progress {
  position: relative;
  width: 85%;
  height: 0.4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bar {
  position: absolute;
  top: 0;
  left: -2px;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  background-color: var(--color-Primary-light);
}

.checkpoint {
  height: 2rem;
  width: 2rem !important;
  border-radius: 50%;
  border: 1px solid var(--color-Primary-light);
  background-color: var(--color-background);
  z-index: 2;
  transform: scaleX(1) !important;
  transition: 0.5s transform;
  transition-delay: 0.2s !important;

  display: flex;
  align-items: center;
  justify-content: center;
}

.checkpoint::after {
  font-size: 1.6rem;
  color: inherit;
  content: attr(data-level) "";
  display: inline-block;
  margin-top: 5rem;
  text-align: center;
}

.fill {
  font-weight: bold;
  background-color: var(--color-Primary);
  width: 0;
  transition: 0.5s all;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
