.container {
  padding: 2rem 5rem;
  width: 70%;
  color: var(--color-Secondary);
  margin-top: -8%;

  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.title {
  font-size: 5rem;
  color: inherit;
  line-height: normal;
  text-transform: uppercase;
}

.role {
  font-size: 3rem;
  color: var(--color-Primary);
  text-transform: uppercase;
  line-height: normal;
}

.desc {
  margin: 2rem 0;
  font-size: 1.6rem;
  color: inherit;
}

.buttons {
  width: 90%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  width: 48%;
}
