.container {
  padding: 3rem 5rem;
  width: 95%;
  padding-bottom: 0;
  color: var(--color-Primary);
}

.top {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--color-Primary);
}

.icon {
  color: inherit !important;
  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem;
}

.heading {
  font-size: 2rem;
  color: inherit;

  display: inline-block;
}

.address {
  font-size: 1.5rem;
  color: var(--color-Secondary);
}

.button {
  margin-left: auto;
  width: 15%;
  align-self: flex-end;
}

@media only screen and (max-width: 1100px) {
  .container {
    width: 85%;
  }
}

@media only screen and (max-width: 950px) {
  .container {
    margin-top: 8rem;
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    margin-top: 10rem;
    padding: 2rem;
  }
}
