.theme-light {
  --color-Primary: #2c6291;
  --color-Primary-light: #afcde5;

  --color-Secondary: #4b4b4b;
  --color-background: #ffffff;

  --color-error: red;
}

.theme-dark {
  --color-Primary: #2c6291;
  --color-Primary-light: #afcde5;

  --color-Secondary: #4b4b4b;
  --color-background: #333333;

  --color-error: red;
}

* {
  margin: 0;
  padding: 0;
  transition: 0.2s color;
}

*:focus {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: inherit;
}

html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  height: 100%;
  width: 100%;
  position: relative;
}

a,
button,
li {
  user-select: none;
}

.icon {
  font-size: 2rem;
  margin-right: 1.5rem;
}

.container {
  padding: 3rem 5rem;
}
