.container {
  width: 100%;
  height: 100vh;

  display: flex;
}

.content {
  position: relative;
  width: 60%;
  height: 100%;
  background-color: var(--color-background);
  z-index: 1;

  display: flex;
  flex-direction: column;
}

.sidebar {
  width: 40%;
  height: 100%;
  background-image: linear-gradient(
    to right top,
    var(--color-Primary) ,
    var(--color-Secondary)
  );
}
